.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100vw - 200px); /* Trừ chiều rộng của navbar */
  height: 100vh; /* Chiều cao toàn màn hình */
  margin-left: 200px; /* Đẩy nội dung sang phải, bằng chiều rộng của navbar */
  overflow: hidden;
}

.home-banner {
  width: 100%;
  height: 100vh;
  object-fit: cover; /* Cắt hoặc co giãn hình ảnh để vừa toàn bộ khung */
}
