.nhanvien-container {
  padding: 20px;
  text-align: center;

  font-family: Arial, sans-serif;
  background-color: #f5f5f5; /* Nền nhẹ nhàng */
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Đổ bóng tạo chiều sâu */
}

.nhanviensearch-add-bar {
  display: flex;

  margin-bottom: 20px;
}

.nhanviensearch-add-bar input {
  width: 30%;
  padding: 10px;
  font-size: 16px;
  font-style: italic;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: border-color 0.3s ease;
}

.nhanviensearch-add-bar input:focus {
  border-color: #00609c; /* Đổi màu khi focus */
  outline: none;
}

.iconadd-button {
  background: none; /* Không có màu nền */
  border: none; /* Loại bỏ viền */
  cursor: pointer; /* Hiển thị con trỏ khi hover */
  padding: 5px; /* Khoảng cách bên trong nút */
  font-size: 20px; /* Kích thước icon */
  color: #333; /* Màu sắc mặc định */
  transition: color 0.3s ease, transform 0.3s ease; /* Hiệu ứng hover */
}

.iconadd-button:hover {
  transform: scale(1.2); /* Phóng to khi hover */
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  font-size: 16px; /* Tăng cỡ chữ */
  color: #222222; /* Màu chữ tối */
}

th,
td {
  border: 1px solid #ddd;
  padding: 12px; /* Tăng khoảng cách */
  text-align: left;
}

th {
  background-color: #e7e2e2; /* Màu nền tiêu đề */
  color: rgb(9, 9, 9); /* Chữ trắng */
  text-transform: uppercase; /* Chữ in hoa */
  font-weight: bold; /* Đậm tiêu đề */
}

tr:nth-child(even) {
  background-color: #f9f9f9; /* Hàng chẵn */
}

tr:nth-child(odd) {
  background-color: #ffffff; /* Hàng lẻ */
}

tr:hover {
  background-color: #f1f1f1; /* Hiệu ứng hover */
}

button.update {
  background-color: #83a603; /* Màu xanh chỉnh sửa */
  color: white;
}

button:hover {
  background-color: #617b02; /* Đậm hơn khi hover */
}

button.delete {
  background-color: #fbbd03; /* Màu đỏ xóa */
  color: white;
}

button.delete:hover {
  background-color: #9b7502; /* Đậm hơn khi hover */
}
